@media only screen and (max-width: 240px) {
    body {
        background-color: hotpink;
        font-size: 9px;
    }
    .rizqi-1 {
        font-size: 12px;
        color: white;
    }
    .rizqi-4 { text-align: right;}
   }
