/* iPad Pro */
@media only  screen and (max-width: 1024px), 
screen and (max-height: 1366px) {
    header img{
        width: 100%;
    }
    h1 {
        font-size: 33px;
    }
    h2 { 
        font-size: 30px;
    }
    label {
        font-size: 21px; 
    }
    select, input {
        width: 97%;
        font-size: 20px;
    }
    ol li,.petunjuk {
        font-size: 12px;
    }
   .kelas_2 {
        width: 97%;
   }
   .terakhir {
    font-size: 35px;
   }
   .jdl {
    font-size: 7px;
    }
    .sy {
        font-size: 5px;
    }
}
/* Ipad Mini */       
@media only  screen and (max-width: 768px), 
screen and (max-height: 1024px) {
    header img{
        width: 100%;
    }
    h1 {
        font-size: 30px;
    }
    h2 { 
        font-size: 24px;
    }
    label {
        font-size: 19px; 
    }
    select, input {
        width: 97%;
        font-size: 17px;
    }
    ol li,.petunjuk {
        font-size: 19px;
    }
   .kelas_2 {
        width: 97%;
   }
   button {
    font-size: 28px;
   }
}

/* Google Pixel */
@media only  screen and (max-width: 412px), 
       screen and (max-height: 915px) {
        header img{
            width: 100%;
        }
        h1 {
            font-size: 21px;
        }
        h2 { 
            font-size: 18px;
        }
        label {
            font-size: 13px; 
        }
        select, input {
            width: 98%;
            font-size: 9.7px;
        }
        .petunjuk, ol li {
            font-size: 8px;
       }
       .kelas_2 {
        width: 98%;
       }
       .jdl {
        font-size: 16px;
        }
        .sy {
            font-size: 13px;
        }
        button {
            font-size: 15px;
        }
    }
/* Google Pixel */
@media only  screen and (max-width: 412px), 
       screen and (max-height: 915px) {
        header img{
            width: 100%;
        }
        h1 {
            font-size: 21px;
        }
        h2 { 
            font-size: 18px;
        }
        label {
            font-size: 13px; 
        }
        select, input {
            width: 98%;
            font-size: 9.7px;
        }
        .petunjuk, ol li {
            font-size: 8px;
       }
       .kelas_2 {
        width: 98%;
       }
       .jdl {
        font-size: 16px;
        }
        .sy {
            font-size: 13px;
        }
        button {
            font-size: 15px;
        }
    }

/* samsung galaxy */
@media only  screen and (max-width: 360px), 
       screen and (max-height: 800px) {
        header img{
            width: 100%;
        }
        h1 {
            font-size: 12px;
        }
        h2 { 
            font-size: 10px;
        }
        label {
            font-size: 12px; 
        }
        select, input {
            width: 97%;
            font-size: 9px;
        }
        ol li,.petunjuk {
            font-size: 8px;
        }
        .jdl {
            font-size: 14px;
        }
        .sy {
            font-size: 12px;
        }
        .kelas_2 {
            width: 97%;
        }
        button {
            font-size: 12px;
        }
       }

/* Iphone 5 */       
@media only  screen and (max-width: 320px), 
screen and (max-height: 568px) {
    header img{
        width: 100%;
    }
    h1 {
        font-size: 15px;
    }
    h2 { 
        font-size: 14px;
    }
    label {
        font-size: 11px; 
    }
    select, input {
        width: 97%;
        font-size: 8px;
    }
    ol li,.petunjuk {
        font-size: 8px;
    }
   .kelas_2 {
        width: 97%;
   }
   button {
    font-size: 12px;
   }
}